html {
  height: 100vh; /*set HTML element height to take up the viewable webpage*/
}

body {
  margin: 0;
  padding: 0;
  display: flex; /*makes the body div a flexbox container*/
  flex-direction: column; /*flexbox container direction is vertical*/
  color: #222;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 100%; /*set body element to 100% of the parent element, which is the HTML element in this case*/
}

.content {
  flex: 1 0 auto; /*sets the flex grow property to 1 and the flex basis property to auto, this allows the content div to take up the space unoccupied by the footer*/
}

.nav {
  margin-top: 6px;
  padding: 6px 6px;
  display: flex;
  align-items: center; /*centers flex items*/
}

.nav a {
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 6px 6px; /*padding of 6 pixels for all link sides*/
  margin-left: 15px;
  margin-right: 5px;
}

.nav a:hover {
  text-decoration: underline; /*underline when a nav link is hovered*/
}

.nav a:visited {
  color: #222; /*remove color of highlighted links*/
}

#gmail {
  margin-right: 0;
}

.nav .push-right {
  margin-left: auto; /*pushes this element to the right of the flex-box*/
}

.material-icons,
.usericon {
  background-color: transparent;
  /* code below prevents the material icons from being highlighted by the user */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.usericon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
}

.usericon:hover {
  box-shadow: 0px 1px 3px 3px #d3d3d3; /*hover effect for slight shadow around the user icon*/
}

#search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 272px;
  height: 92px;
  margin-top: 22vh;
}

#search-bar-buttons {
  margin: 20px 20px;
}

#search-bar-container {
  text-align: center;
  position: relative; /*search bar container is positioned in the normal flow of the document then offset relative to itself*/
}

#search-bar {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 40px;
  padding-right: 40px;
  width: 502px;
  border-radius: 23px;
  border: 1px solid #d3d3d3;
  font-size: 14px;
}

#search-bar:focus {
  outline: none; /*removes border when the search bar is linked*/
}

#search-bar:hover {
  box-shadow: 0px 0.8px 3px 1px #d3d3d3; /*hover shadow effect for the search bar */
}

#search-icon,
#mic-icon {
  position: absolute; /*these icon elements are positioned relative to the the closest ancestor element, which is the search-bar-container*/
  height: 100%;
  /* code below prevents the material icons from being highlighted by the user */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

#search-icon {
  top: 11px;
  left: 9px;
}

#mic-icon {
  top: 12px;
  right: 8px;
}

#buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.button {
  margin: 0px 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa;
  font-size: 14px;
  color: #3c4043;
  cursor: pointer;
  outline: none;
}

.button:hover {
  box-shadow: 0px 0.8px 1px 1px #d3d3d3; /*shadow hover effect for buttons*/
}

.button:focus {
  border: 1px solid rgba(0, 110, 255, 0.795); /*blue outline effect when a button is selected*/
}

#language p {
  font-size: 12px;
}

.footer {
  flex-shrink: 0; /*sets footer flex-shrink factor to zero, won't shrink compared to other flex items*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f2f2f2;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.footer a:hover {
  text-decoration: underline; /*underline when a nav link is hovered*/
}

.footer a:visited {
  color: #222; /*remove color of highlighted links*/
}

.footer-language,
.footer-links {
  border-bottom: 1px solid #dadce0;
}

.footer-language,
.footer-links a {
  padding: 15px 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}

.footer-links {
  display: flex;
  list-style-type: none;
}

.footer-links a {
}

.footer-links .push-right {
  margin-left: auto; /*pushes this element to the right of the flex-box*/
}
